/* Shared */

.link {
  font-weight: bolder;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.55);
  font-size: 2rem;
}

/* Product Card */

.product-card {
  font-family: "Sunflower", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.product-info {
  padding: 3rem 0;
}

.product-title {
  font-family: "Sofia", cursive;
  font-size: 3rem;
}

.from-seller {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.55);
}

.product-price {
  max-width: 20rem;
  padding: 3rem 0;
  font-size: 3rem;
  font-weight: bolder;
  background-image: url("../../assets/images/product_asset1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.product-price > span {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #7d5c3a;
  gap: 1rem;
}

.icon {
  color: #ff9494;
  font-size: 2rem;
}

.product-description {
  padding: 1rem 3rem;
}

.heart-icon {
  font-size: 4rem;
  color: #7d5c3a;
  margin-top: 1rem;
}

/* SuggestedProducts */

.cards-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3rem 1rem;
}

.circle {
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 0 0 50% 50%;
}

/* Rating */

.bar {
  height: 3rem;
  border-radius: 18px;
  background-color: #d9d9d9;
  overflow: hidden;
  margin: 0.5rem 0;
}

.bar > div {
  height: 100%;
  background-color: #dd6969;
  border-radius: 18px;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: "Sunflower";
  font-weight: bolder;
}

.star-icon {
  font-size: 2rem;
  color: #d9d9d9;
}

.star-icon.filled {
  color: #dd6969;
}

/* Reviews */

.review-card {
  /* min-height: 18rem; */
  aspect-ratio: 5 / 2;
  min-width: 40rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
  border-radius: 16px;
  background-color: #fff7f2;
}

.splide__arrow--prev,
.splide__arrow--next {
  color: #cbe1eb;
  background-color: #f1979a;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.splide__arrow--next {
  right: -1rem;
}

.splide__arrow--prev {
  left: -1rem;
}