.product-page {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 8rem 10rem;
  background-image: url("../../assets/backgrounds/Asset\ 3.png"),
    url("../../assets/backgrounds/Asset\ 2.png"),
    url("../../assets/backgrounds/Asset\ 2.png");
  background-position: right center, left bottom, left center;
  background-repeat: no-repeat;
}

.modal-open {
  overflow: hidden;
}
