.product-page {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-image: url("../../assets/backgrounds/Asset\ 3.png"),
    url("../../assets/backgrounds/Asset\ 2.png"),
    url("../../assets/backgrounds/Asset\ 2.png"),
    url("../../assets/backgrounds/Asset\ 2.png");
  background-position: right center, left bottom, left center, right top;
  background-repeat: no-repeat;
}

.modal-open {
  overflow: hidden;
}

.product_header {
  color: #000;
  font-family: Sofia;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
