/*
.wilayas,
.price,
.format {
  & > p {
    margin-bottom: 1rem;
  }
}

.categories {
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  & ul {
    overflow-y: hidden;

    & li {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.categories--open {
  max-height: 10rem;
}

.price {
  position: relative;
}
.price-values {
  margin-top: 3.5rem;
}
*/
