.verification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  padding: 20px;
}

.verification-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.verification-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.verification-container button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #ff9494;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.verification-container button:hover {
  background-color: #d37979;
  transition: all 0.5s ease-in-out;
}

/* Add this CSS to your styles file */
.notification-popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s;
}

.notification-popup.show {
  opacity: 1;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
