@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Jost", "Sunflower";
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: #f5ebe0;
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #dd6969;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  scrollbar-width: none;
}

textarea {
  resize: none;
}
